@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
    padding: 0;
    min-width: 500px;
    overflow-x: hidden;
    max-width: 100%;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
}
a:hover {
    color: #ffffff;
    text-decoration: underline;
}


.main-content {
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 1.5em;
    display: block;
    margin: 1em  auto 1em auto;
    max-width: 800px;
    background-color: #000000;
    color: #ffffff;
}

.topbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: transparent;
    color: #ffffff;
    padding: 0.5em;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

.topbar .title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    flex-grow: 1;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0 0 0 1em;
    text-align: left;
    display: flex;
    align-items: center;
}

.topbar .links {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    margin: 1em 2em;
}

.topbar .links .link{
    margin: 0 0.5em;
}

.canvas-container {
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #000000;
    color: #ffffff;
    z-index: 0;
}

.button {
    width: 80px;
    margin: 0 auto;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-text {
    margin: 0.3em 0.5em;
}

.end-of-page {
    opacity: 1;
    color: #000000;
    height: 40px;
    margin: 0 auto;
    text-align: center;
}