img {
  /* Add your default styles for the image here */
  width: auto;
}

@media print {
  body {
    font-size: 12pt;
  }
  img {
      max-width: 75%; /* Ensure images do not exceed the width of their container */
      height: auto;    /* Maintain aspect ratio */
      display: block;
      margin: 0 auto;  /* Center images */
  }
  figcaption {
    font-size: 0.8rem;
    text-align: center;
    font-style: italic;
    text-align: center;
  }
}

@media (max-width: 300px) {
  body {
    overflow-x: auto;
  }
}

@media (max-width: 550px) {
  img {
      width: 100%;
  }
  figcaption {
    font-size: 0.8rem;
    text-align: center;
    font-style: italic;
    text-align: center;
  }
}

@media only screen and (min-width: 550px) {
/* @media print {


  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

html {
  font-size: 12px;
} */

body {
  min-width: 550px;
  line-height: 1.85;
  padding: 0 0 10rem 0;
}

p,
.splendor-p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

h1,
.splendor-h1,
h2,
.splendor-h2,
h3,
.splendor-h3,
h4,
.splendor-h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}

h1,
.splendor-h1 {
  margin-top: 0;
  font-size: 3.9rem;
}

h2,
.splendor-h2 {
  font-size: 2.827rem;
}

h3,
.splendor-h3 {
  font-size: 1.999rem;
}

h4,
.splendor-h4 {
  font-size: 1.414rem;
}

h5,
.splendor-h5 {
  font-size: 1.121rem;
}

h6,
.splendor-h6 {
  font-size: .88rem;
}

small,
.splendor-small {
  font-size: .707em;
}

/* https://github.com/mrmrs/fluidity */

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

@import url(http://fonts.googleapis.com/css?family=Merriweather:300italic,300);

html {
  font-size: 18px;
  max-width: 100%;
}

body {
  color: #444;
  font-family: 'Merriweather', Georgia, serif;
  margin: 0;
  max-width: 100%;
}

/* === A bit of a gross hack so we can have bleeding divs/blockquotes. */

p,
*:not(div):not(img):not(body):not(html):not(li):not(blockquote):not(mjx-container) {
  margin: 1rem auto 1rem;
  max-width: 36rem;
  padding: .25rem;
}

/* Ensure that mjx-container itself and its child elements don't get unintended margins */
mjx-container, 
mjx-container * {
  margin: 0 !important;
  padding: 0 !important;
}

hr{
  color:#444 !important;
  background-color :#444 !important;
  height:1px !important;
  border:none !important;
}


.wide-image {
  position: relative;
  width: 100%;
}

.narrow-image {
  margin: 1rem auto 1rem;
  max-width: 30rem;
  padding: .25rem;
}

.mid-image {
  margin: 1rem auto 1rem;
  max-width: 35rem;
  padding: .25rem;
}

div {
  width: 100%;
}

div img {
  width: 100%;
}

figcaption {
  font-size: 0.8rem;
  text-align: center;
  font-style: italic;
  padding: 2px;
  text-align: center;
}


.wide-image-caption {
  display: block !important;
  position: absolute !important;
  bottom: 0.2rem !important;
  right: 0.5rem !important;
  text-align: right !important;
  font-family: 'Arial', sans-serif !important;  
  font-size: 0.8rem !important;
  font-style: normal !important;
  color: #fafafa !important;
}

blockquote {
  padding: 0;
  border: none;
  margin: 2rem auto 2rem;
}

blockquote p {
  font-size: 1.5rem;
  font-style: italic;
  max-width: 40rem !important;
}

li {
  margin-left: 2rem;
}

/* Counteract the specificity of the gross *:not() chain. */

h1 {
  padding: 4rem 0 1.8rem !important;
}

/* === End gross hack */

p {
  color: #555;
  height: auto;
  line-height: 1.45;
}

pre,
code {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 0.85rem;
}

pre {
  background-color: #fafafa;
  font-size: .8rem;
  overflow-x: scroll;
  padding: 1.125em;
}

a,
a:visited {
  color: #3498db;
}

a:hover,
a:focus,
a:active {
  color: #2980b9;
}

iframe {
  display: block;
  margin: 1rem auto;
}

}