body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
    padding: 0;
    min-width: 320px;
    overflow-x: hidden;
    max-width: 100%;
}
a {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.main-content {
    display: block;
    margin: 2em  auto;
    padding: 1em;
    max-width: 800px;
    background-color: #000000;
    color: #ffffff;
}

.topbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: transparent;
    color: #ffffff;
    padding: 0.5em;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

.topbar .title {
    flex-grow: 1;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 0 0 1em;
    text-align: left;
    display: flex;
    align-items: center;
}

.topbar .links {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    margin: 1em 2em;
}

.topbar .links .link{
    margin: 0 0.5em;
}

canvas {
    box-shadow: white 0px 0px 1px;
}